@font-face {
  font-family: "Heebo-Black";
  src: url("../fonts/Heebo-Black.woff2"), url("../fonts/Heebo-Black.woff");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Heebo-Bold";
  src: url("../fonts/Heebo-Bold.woff2"), url("../fonts/Heebo-Bold.woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Heebo-ExtraBold";
  src: url("../fonts/Heebo-ExtraBold.woff2"), url("../fonts/Heebo-ExtraBold.woff");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Heebo-Medium";
  src: url("../fonts/Heebo-Medium.woff2"), url("../fonts/Heebo-Medium.woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Heebo-Regular";
  src: url("../fonts/Heebo-Regular.woff2"), url("../fonts/Heebo-Regular.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Nunito-Bold";
  src: url("../fonts/Nunito-Bold.woff2"), url("../fonts/Nunito-Bold.woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Nunito-Medium";
  src: url("../fonts/Nunito-Medium.woff2"), url("../fonts/Nunito-Medium.woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Nunito-Regular";
  src: url("../fonts/Nunito-Regular.woff2"), url("../fonts/Nunito-Regular.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}