@font-face {
	font-family: "Heebo-Black";
	src: url('../Heebo-Black.woff2'),url('../Heebo-Black.woff');
	font-weight: 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Heebo-Bold";
	src: url('../Heebo-Bold.woff2'),url('../Heebo-Bold.woff');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Heebo-ExtraBold";
	src: url('../Heebo-ExtraBold.woff2'),url('../Heebo-ExtraBold.woff');
	font-weight: 800;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Heebo-Medium";
	src: url('../Heebo-Medium.woff2'),url('../Heebo-Medium.woff');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Heebo-Regular";
	src: url('../Heebo-Regular.woff2'),url('../Heebo-Regular.woff');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Nunito-Bold";
	src: url('../Nunito-Bold.woff2'),url('../Nunito-Bold.woff');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Nunito-Medium";
	src: url('../Nunito-Medium.woff2'),url('../Nunito-Medium.woff');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Nunito-Regular";
	src: url('../Nunito-Regular.woff2'),url('../Nunito-Regular.woff');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

